* {
    margin: 0;
    padding: 0;

}
    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(176, 154, 193);
    padding: 10px;
}
    nav ul {
    display: flex;
    list-style: none; 
    flex-wrap: wrap; 
    gap : 15px;
}

h1, nav, p {
    color: black;
}

body {
    background-color: white;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-image {
    background-color: rgb(71, 255, 182);
    height: 300px;
}
.hero-text p {
    font-size: 16px;
    margin: 10px 0 15px 0;
}

.form-search form{
    display: flex;
     margin: 40px;
    border-radius: 10;
    width: 60px;
    gap: 8px;
}

.form-search input, 
.form-search button {
    height: 40px;
    padding: 0 10px;
    font-size: 10px;
}